* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* dashboard.php */
.page{
    display: grid;
    grid-template-columns: 1fr 7fr;
    background-color: #F2F2F3;
}

header{
    display: flex;
    justify-content: end;
    height: 57px;
    background-color: #FFFFFF;
    padding: 11px 25px;
}

.side{
    min-height: 100vh;
    padding-top: 7px;
    height: 100%;
    background-color: #FFFFFF;
}

.side>.logo{
    display: block;
    margin: 0 auto;
    padding: 11px 21px;
    background-color: #59B077;
    font-style: 14px;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 34px;
    border: 2px solid #FFFFFF;
    outline:solid #59B077 2px;
}

.side>.nav{
    margin-top: 33px;
    padding-left: 21px;
}

.side>.nav>.side-title{
    font-size: 14px;
    font-weight: 600;
    color: #6A6A6A;
}

.side>.nav>.nav-link{
    display: flex;
    margin-top: 19px;
    align-items: center;
    padding: 7px 10px;
    cursor: pointer;
    width: 160px;
    border-radius: 10px;
    transition: .3s all;

}

.side>.nav>.nav-link>a{
    text-decoration: none;
    outline: none;
    color: #6A6A6A;
    font-style: 12px;
    font-weight: 500;
    margin-left: 19px;
}

.side>.nav>.nav-link.active{
    background-color: #59B077;
    color: #FFFFFF;
    border-radius: 10px;
}

.side>.nav>.nav-link.active>img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.side>.nav>.nav-link.active>a{
    color: #FFFFFF;
}

.side>.nav>.nav-link:hover{
    background-color: #59B077;
    color: #FFFFFF;
    border-radius: 10px;
}

.side>.nav>.nav-link:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    transition: .2s;
}

.side>.nav>.nav-link:hover a {
    color: #FFFFFF;
    transition: .2s;
}

.profile{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile>.information>.name{
    font-style: 14px;
    font-weight: 600;
    color: #1E1E1E; 
}

.profile>.information>.role{
    font-style: 10px;
    font-weight: 500;
    color: #6A6A6A;
}

.wrapper{
    padding: 10px;
}

.wrapper>.wrapper-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.wrapper>.wrapper-head>.button-excel>button{
    padding: 12px 0;
    min-width: 205px;
    background-color: #59B077;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    font-style: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: .2s all ease;
}

.wrapper>.wrapper-head>.button-excel>button:hover{
    background-color: #4D9E69;
}

.wrapper>.wrapper-head>.button-excel>button:active{
    background-color: #478F60;
}

.input-file {
	position: relative;
	display: inline-block;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
    min-width: 205px;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 10px;
	background-color: #59B077;
	height: 40px;
	padding: 12px 0;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Hover/active */
.input-file:hover span {
	background-color: #4D9E69;
}
.input-file:active span {
	background-color: #478F60;
}
 
/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}

table{
    width: 100%;
}

tr{
    border: 1px solid #E0E4E8;
    background-color: #FFFFFF;
}

tbody>tr{
    transition: .1s all;
}

tbody>tr:hover{
    background-color: #F6F6F6;
    box-shadow: 0 7px 10px #cecece;
    cursor: pointer;
}

thead>tr>th{
    transition: .1s all;
}

thead>tr>th:hover{
    background-color: #F6F6F6;
    box-shadow: 0 7px 10px #cecece;
    cursor: pointer;
}

thead>tr{
    border-radius: 12px 12px 0 0;
}

th{
    padding: 8px 8px;
    color: #6A6A6A;
    font-weight: 600;
    font-size: 14px;
    max-width: 260px;
}

th>a{
    text-decoration: none;
    color: #6A6A6A;
    font-weight: 600;
}

td{
    padding: 8px 0;
    text-align: center;
    font-size: 14px;
    color: #6A6A6A;
}

td:focus{
    outline: 2px solid #59B077;
    border-radius: 3px;
}

tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }

tr:last-child th:first-child { border-top-left-radius: 10px; }
tr:last-child th:last-child { border-top-right-radius: 10px; }




.search{
    display: grid;
    grid-template-columns: 16px 3fr 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid #E0E4E8;
}

input[type="text"]{
    height: 100%;
    outline: none;
    border: 0;
    color: #A5A5A5;
    font-weight: 500;
}

input[type="text"]::placeholder{
    color: #A5A5A5;
    font-weight: 500;
}


select{
    padding: 4px;
    height: 100%;
    border: 1px solid #E0E4E8;
    border-radius: 4px;
    text-align: center;
    color: #A5A5A5;
    font-weight: 500;
    outline: none;
    cursor: pointer;
}


/* Добавляем стили для псевдоэлемента */
/* Скрыть псевдоэлемент по умолчанию */
#sort-name:after {
    content: '';
    display: none;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #6A6A6A;
    margin-left: 5px;
    margin-bottom: 2px;
    transition: transform 0.3s;
}

/* Показать псевдоэлемент, когда есть класс 'sorted-asc' */
#sort-name.sorted-asc:after {
    display: inline-block;
}

/* Показать псевдоэлемент, когда есть класс 'sorted-desc' */
#sort-name.sorted-desc:after {
    display: inline-block;
    transform: rotate(180deg);
}

#sort-anumb:after {
    content: '';
    display: none;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #6A6A6A;
    margin-left: 5px;
    margin-bottom: 2px;
    transition: transform 0.3s;
}

/* Показать псевдоэлемент, когда есть класс 'sorted-asc' */
#sort-anumb.sorted-asc:after {
    display: inline-block;
}

/* Показать псевдоэлемент, когда есть класс 'sorted-desc' */
#sort-anumb.sorted-desc:after {
    display: inline-block;
    transform: rotate(180deg);
}


#sort-price:after {
    content: '';
    display: none;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #6A6A6A;
    margin-left: 5px;
    margin-bottom: 2px;
    transition: transform 0.3s;
}

/* Показать псевдоэлемент, когда есть класс 'sorted-asc' */
#sort-price.sorted-asc:after {
    display: inline-block;
}

/* Показать псевдоэлемент, когда есть класс 'sorted-desc' */
#sort-price.sorted-desc:after {
    display: inline-block;
    transform: rotate(180deg);
}


#sort-iternal-price:after {
    content: '';
    display: none;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #6A6A6A;
    margin-left: 5px;
    margin-bottom: 2px;
    transition: transform 0.3s;
}

/* Показать псевдоэлемент, когда есть класс 'sorted-asc' */
#sort-iternal-price.sorted-asc:after {
    display: inline-block;
}

/* Показать псевдоэлемент, когда есть класс 'sorted-desc' */
#sort-iternal-price.sorted-desc:after {
    display: inline-block;
    transform: rotate(180deg);
}


#sort-external-price:after {
    content: '';
    display: none;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #6A6A6A;
    margin-left: 5px;
    margin-bottom: 2px;
    transition: transform 0.3s;
}

/* Показать псевдоэлемент, когда есть класс 'sorted-asc' */
#sort-external-price.sorted-asc:after {
    display: inline-block;
}

/* Показать псевдоэлемент, когда есть класс 'sorted-desc' */
#sort-external-price.sorted-desc:after {
    display: inline-block;
    transform: rotate(180deg);
}


/* projects.php */
.wrapper>.setting{
    background-color: #FFFFFF;
    border: 1px solid #E0E4E8;
    border-radius: 5px;
    padding: 20px;
}

.wrapper>.setting>.link-db{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper>.setting>.link-db>.data{
    display: flex;
    align-items: center;
}

.wrapper>.setting>.link-db>.data>p{
    color: #6A6A6A;
    font-weight: 500;
    font-size: 14px;
}

.wrapper>.setting>.link-db>.data>.file-path{
    margin-left: 30px;
    background-color: #F1F1F1;
    border-radius: 7px;
    padding: 5px 8px;
    min-width: 450px;
}

.wrapper>.setting>.link-db>.data>.file-path>p{
    color: #6A6A6A;
    font-weight: 500;
    font-size: 14px;
}


/* login.php */
.auth-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.auth-page>img{
    height: 100vh;
    width: 100%;
}

.auth-page>.auth>.logo{
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    padding: 11px 21px;
    background-color: #59B077;
    font-style: 14px;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 34px;
    border: 2px solid #FFFFFF;
    outline:solid #59B077 2px;
}

.auth-page>.auth>h1{
    margin-top: 194px;
    text-align: center;
}

.auth-page>.auth>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.auth-page>.auth>label{
    display: block;
}

.auth-page>.auth>form>label>p{
    color: #565555;
    padding-bottom: 9px;
}

.auth-page>.auth>form>label>input{
    min-width: 300px;
    padding: 12px 19px;
    border: 1px solid #D2D3D7;
    border-radius: 7px;
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 14px;
    color: #6A6A6A;
    outline: none;
}


.auth-page>.auth>form>label>input[type="text"]{
    min-width: 300px;
    padding: 12px 19px;
    border: 1px solid #D2D3D7;
    border-radius: 7px;
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 14px;
    color: #6A6A6A;
    outline: none;
}


.auth-page>.auth>form>button{
    padding: 14px 0;
    min-width: 300px;
    background-color: #59B077;
    border-radius: 100px;
    border: 0;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;
    transition: .2s all;
}

.auth-page>.auth>form>button:hover{
    background-color: #4D9E69;
}

.auth-page>.auth>form>button:active{
    background-color: #478F60;
}

.auth-page>.auth>form>button:focus{
    background-color: #478F60;
}

.auth-error{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 14px 0;
    background-color: #F95B5E;
    color: #FFFFFF;
    min-width: 300px;
    font-weight: 600;
    border: 0;
    border-radius: 100px;
    outline: none;
}